typing
streamlit==1.39.0
streamlit-tags

langchain
langchain_ollama
langchain_community
langchain_openai
langchain_postgres

requests
python-dotenv
docker
psycopg[binary]
st-annotated-text
streamlit-screen-stats
streamlit-browser-session-storage
streamlit-local-storage
git+https://github.com/Hasan-Naseer/whisperX.git@caa7121
