typing
streamlit
streamlit-tags

langchain
langchain_ollama
langchain_community
langchain_openai
langchain_postgres

requests
python-dotenv
docker
psycopg[binary]
git+https://github.com/Hasan-Naseer/whisperX.git@caa7121
